@import "tailwindcss";

/* Font Variables */
:root {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

/* Apply theme */
body {
  font-family: var(--font-sans), sans-serif;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalPop {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
